GITHUB_TOKEN=your_github_personal_access_token_here
AZURE_LANGUAGE_ENDPOINT=https://your-resource.cognitiveservices.azure.com
AZURE_LANGUAGE_KEY=your_azure_language_key_here
AZURE_DOCUMENT_ENDPOINT=https://your-resource.cognitiveservices.azure.com
AZURE_DOCUMENT_KEY=your_azure_document_intelligence_key_here
AZURE_TRANSLATOR_KEY=your_azure_translator_key_here
AZURE_TRANSLATOR_REGION=eastus
